<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <title>Kolibree Test</title>
		<link rel='stylesheet' href="/static/dentistsApp/css/bootstrap.min.css"/>
    <link rel='stylesheet' href="/static/dentistsApp/css/styles.css"/>
  </head>
  <body>
		<div class="container bs-docs-container">
			{% include "dentistsApp/header.html" %}
			<h3>Add user</h3>
      <form role="form" action="" method="POST">{% csrf_token %}
        {{ form.as_table }}
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>
  </body>
</html>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script>
  $('.nav li').removeClass('active');
  $('#addUserMenu').addClass('active');
</script>
